<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title> 
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
 rel="stylesheet" 
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
crossorigin="anonymous">
<%- include ('header') %>
  </head>

  <body>
 
    <!-- Navigation
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <a class="navbar-brand" href="#page-top" style="color: black;">JOB-ATLAS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="Inscription" style="color: black;">Incription</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Connexion" style="color: black;">Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 48px; background-color: grey;">
        <a class="navbar-brand" href="#">JOB-ATLAS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/Connexion.ejs">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/Inscription.ejs">Incription</a>
            </li>
            <li>
            <input class="form-control mr-sm-2" type="search" placeholder="Search">               
            </li>
            <li><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></li>
        </ul>
        </div>
      </nav>



      <div class="contenant" style="  position: relative; text-align: center;">
        <img style="width: 100%; height: 500px" src="images/gris.jpg" alt="img">
        <div class="texte_center" style=" position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h1 class="display-1" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:white;">Etes-vous à la recherche d'un emploi ou d'un employé?</h1>
        </div>
     </div>
-->
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
                <div class="contenant" style="  position: relative; text-align: center;">
                    <img style="width: 100%; height: 500px" src="images/gris.jpg" alt="img">
                    <div class="texte_center" style=" position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h1 class="display-3" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Trouvez votre emploi</h1>
                        <h2>Un clic, tous les emplois</h2>
                </div>
            </div>
       </div>
        <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll" style="background-color:grey">Learn More</a>

    </header>

     <section id="scroll">
        <div class="container px-6">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="images/img2.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Trouver un emploi...</h2>
                        <p>Vous etes tout droit sorti des études ou vous <br> etes une personne d'experience? Trouvez ici des <br> emplois qui vous mettrons au défi.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="scroll">
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="images/img3.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Selection d'employé</h2>
                            <p>Trouvez des nouveaux employés prêts à vous <br> servir de leur plein potentiel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- Content section 3-->
            <section>
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <div class="p-5"><img class="img-fluid rounded-circle" src="images/img1.jpg" alt="..." /></div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <h2 class="display-4">Planifier votre entrevue</h2>
                                <p>Contacter l'employeur ou l'employé qui vous <br> inspire le plus afin de commencer votre <br> processus d"emnauche</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

   
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
    crossorigin="anonymous">
    </script>
  </body>
</html>