<!DOCTYPE html>
<html lang="en">
<header>
    <%- include ('./header') %>
</header>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>


</head>
<!-- CSS only -->
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<body>
    <form action='/Inscription' method="POST" class="form" id="myForm">
        <h1>INSCRIPTION</h1>

        <h3>Êtes vous un étudiant ou un employeur ?</h3>
        <input type="checkbox" id="Etudiant" name="EtudiantCheckBox" value="Etudiant" onclick="estEtudiant()">
        <label for="Etudiant"> Je suis un étudiant</label><br>
        <input type="checkbox" id="Employeur" name="EmployeurCheckBox" value="Employeur" onclick="estEmployeur()">
        <label for="Employeur">Je suis un employeur</label><br>

        <!-- NE PAS CHANGER LE DIV CHAMPS ÉTUDIANT -->
        <div id="champsEtudiant" style="display:none">
            <h3>Quel est votre ID d'étudiant? ?</h3>
            <input type="number" id="id_etudiant" name="id_etudiant" max="9999999" min="1000000"
                oninvalid="this.setCustomValidity('Le numéro étudiant doit contenir 7 chiffres')"
                oninput="this.setCustomValidity('')">
            <h3>Quel est votre prénom ?</h3>
            <input type="text" id="prenom_etudiant" name="prenom_etudiant">
            <h3>Quel est votre nom ?</h3>
            <input type="text" id="nom_etudiant" name="nom_etudiant">
            <h3>Quel est votre date de naissance ?</h3>
            <input type="date" id="date_naissance_etudiant" name="date_naissance_etudiant">

        </div>

        <!-- NE PAS CHANGER LE DIV CHAMPS ENTREPRISE -->
        <div id="champsEntreprise" style="display:none">
            <h3>Quel est votre ID d'entreprise? ?</h3>
            <input type="number" id="id_employeur" name="id_employeur" min="1000000000" maxlength="9999999999"
                oninvalid="this.setCustomValidity('Le numéro entreprise doit contenir 10 chiffres')"
                oninput="this.setCustomValidity('')">
            <h3>Quel est le nom de votre entreprise? </h3>
            <input type="text" id="nom_employeur" name="nom_employeur">
            <h3>Quel est votre nom en tant que recruteur ?</h3>
            <input type="text" id="nom_recruteur" name="nom_recruteur">

        </div>
        <!-- NE PAS CHANGER LE DIV CHAMPS COMMUNS -->
        <div id="champsCommuns" style="display: none;">

            <h3>Veuillez saisir votre courriel</h3>
            <input type="email" id="email" name="email">
            <h3>Veuillez saisir un mot de passe</h3>
            <input type="password" id="mdp" name="mdp" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Le mot de passe doit contenir 8 caractères, au moins un chiffre, au moins une lettre majuscule, au moins une lettre miniscule et un symbole spécial"
                required>
            <h3>Veuillez saisir notre nouveau mot de passe une seconde fois</h3>
            <input type="password" id="mdpScndfois" name="mdpScndfois" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                required>
            <button onclick="check()"> Je m'inscris</button>
        </div>





    </form>
    <!-- Fonctions JavaScript -->

    <script>
        function estEmployeur() {
            document.getElementById("Etudiant").checked = false
            document.getElementById("champsEtudiant").style.display = "none";
            document.getElementById("champsEntreprise").style.display = "block";

            document.getElementById("champsCommuns").style.display = "block";

        }
        function estEtudiant() {
            document.getElementById("Employeur").checked = false
            document.getElementById("champsEntreprise").style.display = "none";
            document.getElementById("champsEtudiant").style.display = "block";

            document.getElementById("champsCommuns").style.display = "block";
        }

        function check() {

            var mdpScnd = document.getElementById('mdpScndfois')
            var mdp = document.getElementById('mdp')
            if (mdpScnd.value != mdp.value) {
                alert('Les deux mots de passe ne correspondent pas')
                //input.setCustomValidity('Password Must be Matching.');
            } else {

                document.getElementById("myForm").submit();
            }
        }

    </script>


</body>

</html>