<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier son mot de passe</title>
</head>

<body>
    <form action="'/modificationMotDePasse'" method="post">
        <h3 style="display:inline-block;">Veuillez saisir votre ancien mot de passe</h3><br>
        <input type="text" name="ancienMotDepasse"><br>
        <h3 style="display:inline-block;">Veuillez saisir votre nouveau mot de passe</h3><br>
        <input type="text" name="nouveauMotDePasse"><br>
        <h3 style="display:inline-block;">Veuillez saisir votre nouveau mot de passe une seconde fois</h3><br>
        <input type="text" name="nouveauMotDePasseScndFois"><br>
        <br>
        <button type="submit">Changer mon mot de passe</button>
    </form>
</body>

</html>

<script>
            function check() {
            var mdpScnd = document.getElementById('mdpScndfois')
            var mdp = document.getElementById('mdp')
            if (mdpScnd.value != mdp.value) {
                alert('Les deux mots de passe ne correspondent pas')
                //input.setCustomValidity('Password Must be Matching.');
            } else {
                document.getElementById("myForm").submit();
            }
        }
</script>