<!DOCTYPE html>
<html lang="fr">


<form action="/logout?_method=DELETE" method="POST">

 <button type="submit">Log out</button>
 
 </form>
 <p class="title">bonjour,<%= name %></p>
 <% if(ConnectedUser.user_type == "etudiant"){ %>
 <form action="afficherCv" method="POST">
    <% if( checkCvs == false){ %>
        <div class="form-control">
            <label for="cv ">choissisez un cv a afficher: </label>
            <select id="champ1" name="cv_selected"onkeyup="verifierChamp()">
                <% user_Cvs.forEach(function(item,index){%>
                    <option value="<%=item.title %>" on>
                        <%= item.title %>
                    </option>
                    <%}); %>
            </select>
        </div>
        <%}; %>
        <button class="submit" submit_id="buttonA">send</button>
 </form>
 <%}; %>
 <a href="creationCv">creer un cv</a>
 <script>
 function verifierchamp(){
        if(champ1.value.length > 0 ){
        document.getElementById("buttonA").disabled = false;
        }
        else {
            document.getElementById("buttonA").disabled = true;
        }
    }
 </script>

</html>