<nav id="topheader" class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/">
            <img src="/images/LOGO.png" width="60" height="50" alt="Image du logo croped">
        </a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li>
                    <% if (pageTitle==='Accueil' ) { %> <a class="nav-link active" href="/">Accueil</a>
                        <% } else {%> <a class="nav-link" href="/">Accueil</a>
                            <% } %>
                </li>
                <li>
                    <% if (pageTitle==='Etudiants' ) { %> <a class="nav-link active" href="/Etudiants">Etudiants</a>
                        <% } else { %> <a class="nav-link" href="/Etudiants">Etudiants</a>
                            <% } %>
                </li>
                <li>
                    <% if (pageTitle==='Employeurs' ) { %> <a class="nav-link active" href="/Employeurs">Employeurs</a>
                        <% } else { %> <a class="nav-link" href="/Employeurs">Employeurs</a>
                            <% } %>
                </li>
                <li>
                    <% if (pageTitle==='Offres_emploi' ) { %> <a class="nav-link active" href="/Offres_emploi">Offres_emploi</a>
                        <% } else { %> <a class="nav-link" href="/Offres_emploi">Offres_emploi</a>
                            <% } %>
                </li>
                <li>
                    <% if (pageTitle==='CVs' ) { %> <a class="nav-link active" href="/CVs">CVs</a>
                        <% } else { %> <a class="nav-link" href="/CVs">CVs</a>
                            <% } %>
                </li>

            </ul>
            <!-- <div id="login-logout"></div> -->
        </div>
    </div>

</nav>